In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

[10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20160101', periods=6)

In [9]:
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2016-01-01  0.323377 -0.341545  0.584303 -2.723173
2016-01-02 -0.899355  0.455735  1.233593 -0.254416
2016-01-03 -0.658336 -0.567674 -1.804179  0.166227
2016-01-04 -0.223819 -0.500049  1.274828  0.902346
2016-01-05  2.189665 -0.668970  0.015072  0.627704
2016-01-06 -0.231489 -0.415822  0.471700  0.212984